@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    width: 17px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #374151;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border: 3px solid #374151;
  }
}
